.layout-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 6% 86% 8%;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%;
}

.content {
    grid-area: content;
    overflow-y: auto;
}

.footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
}